<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.shwebill">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ShweBillApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SelectLanguageActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity android:name=".ui.activity.SignInActivity" />
        <activity android:name=".ui.activity.SignUpActivity" />
        <activity android:name=".ui.activity.VerifyPhoneNumberActivity" />
        <activity android:name=".ui.activity.VerifyCodeActivity" />
        <activity android:name=".ui.activity.PinActivity" />
        <activity android:name=".ui.activity.TopUpActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity android:name=".ui.activity.TransactionsHistoryActivity" />
        <activity android:name=".ui.activity.MyQrCodeActivity" />
        <activity android:name=".ui.activity.ScanQrCodeActivity" />
        <activity android:name=".ui.activity.TransferBalanceActivity" />
        <activity android:name=".ui.activity.HelpCenterActivity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.ChangePasswordActivity" />
    </application>

</manifest>